.tartalom {
    position: relative;
    overflow: hidden;
}

.tartalom h1, p, h3 {
    position: relative;
    z-index: 1;
}

.tartalom::after {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    background-image: url("gta_o_bg3.jpg");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card{
    display:inline-block
}
.table{
    margin-left: 50px;
    margin-right: 50px;
}